In [15]:
import pandas as pd

In [16]:
df =pd.read_csv('Premier_League_Season_With_Team_IDs.csv')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3430 entries, 0 to 3429
Data columns (total 40 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Season          3430 non-null   int64
 1   HomeTeam        3430 non-null   object
 2   AwayTeam        3430 non-null   object
 3   FTHG            3430 non-null   int64
 4   FTAG            3430 non-null   int64
 5   FTR             3430 non-null   object
 6   HTHG            3430 non-null   int64
 7   HTAG            3430 non-null   int64
 8   HTR             3430 non-null   object
 9   Referee         3430 non-null   object
 10  HS              3430 non-null   int64
 11  AS              3430 non-null   int64
 12  HST             3430 non-null   int64
 13  AST             3430 non-null   int64
 14  HF              3430 non-null   int64
 15  AF              3430 non-null   int64
 16  HC              3430 non-null   int64
 17  AC              3430 non-null   int64
 18  HY              3430 non-null   int64
 19  AY              3430 non-null   int64
 20  HR              3430 non-null   int64
 21  AR              3430 non-null   int64
 22  B365H           3430 non-null   float64
 23  B365D           3430 non-null   float64
 24  B365A           3430 non-null   float64
 25  PSH             3430 non-null   float64
 26  PSD             3430 non-null   float64
 27  PSA             3430 non-null   float64
 28  WHH             3430 non-null   float64
 29  WHD             3430 non-null   float64
 30  WHA             3430 non-null   float64
 31  PSCH            3430 non-null   float64
 32  PSCD            3430 non-null   float64
 33  PSCA            3430 non-null   float64
 34  GoalDiff_HT     3430 non-null   int64
 35  GoalDiff_FT     3430 non-null   int64
 36  TotalHomeShots  3430 non-null   int64
 37  TotalAwayShots  3430 non-null   int64
 38  HomeTeam_ID     3430 non-null   int64
 39  AwayTeam_ID     3430 non-null   int64
dtypes: float64(12), int64(23), object(5)
memory usage: 1.0+ MB

In [18]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_selection import SelectFromModel

In [19]:
# Convert categorical columns to numerical using LabelEncoder
label_encoder = LabelEncoder()
df['HomeTeam'] = label_encoder.fit_transform(df['HomeTeam'])
df['AwayTeam'] = label_encoder.fit_transform(df['AwayTeam'])
df['Referee'] = label_encoder.fit_transform(df['Referee'])
df['FTR'] = label_encoder.fit_transform(df['FTR'])  # Target variable

In [20]:
print(df['FTR'])

0       0
1       1
2       1
3       2
4       2
       ..
3425    1
3426    0
3427    2
3428    0
3429    1
Name: FTR, Length: 3430, dtype: int32

In [21]:
# Map target variable: Home Win: 1, Draw: 0, Away Win: 2
#df['FTR'] = df['FTR'].map({'H': 1, 'D': 0, 'A': 2})

In [22]:
# Features and target
X = df.drop(columns=['FTR', 'FTHG','Season', 'HTR','HomeTeam_ID', 'AwayTeam_ID','FTAG','FTAG','Referee','B365H','B365D','B365A','PSH','PSD','PSA','WHH','WHD','WHA','PSCH','PSCD','PSCD','PSCA'])
y = df['FTR']

In [23]:
# Split the dataset: Train (before 2024) and Test (2024)
X_train = X[df['Season'] < 2024]
y_train = y[df['Season'] < 2024]
X_test = X[df['Season'] == 2024]
y_test = y[df['Season'] == 2024]

# Save the split datasets to CSV files
X_train.to_csv('X_train.csv', index=False)
y_train.to_csv('y_train.csv', index=False)
X_test.to_csv('X_test.csv', index=False)
y_test.to_csv('y_test.csv', index=False)

# End of Section

In [24]:
X_train.head()

,HomeTeam,AwayTeam,HTHG,HTAG,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR,GoalDiff_HT,GoalDiff_FT,TotalHomeShots,TotalAwayShots
0,2,1,0,0,11,7,2,3,13,13,6,3,3,4,0,0,0,-1,13,10
1,7,27,2,1,11,18,3,10,15,16,4,8,1,3,1,0,1,0,14,28
2,9,29,0,1,10,11,5,5,7,13,8,2,1,2,0,0,-1,0,15,16
3,15,26,3,0,19,10,8,5,13,17,6,3,2,4,0,0,3,2,27,15
4,19,28,1,0,9,9,1,4,12,12,1,2,2,3,0,0,1,1,10,13

In [25]:
y_train.head()

0    0
1    1
2    1
3    2
4    2
Name: FTR, dtype: int32

In [26]:
df

,Season,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,WHA,PSCH,PSCD,PSCA,GoalDiff_HT,GoalDiff_FT,TotalHomeShots,TotalAwayShots,HomeTeam_ID,AwayTeam_ID
0,2015,2,1,0,1,0,0,0,D,21,...,4.00,1.82,3.88,4.70,0,-1,13,10,0,10
1,2015,7,27,2,2,1,2,1,H,25,...,10.00,1.37,5.04,10.88,1,0,14,28,1,13
2,2015,9,29,2,2,1,0,1,A,24,...,5.00,1.75,3.76,5.44,-1,0,15,16,2,15
3,2015,15,26,4,2,2,3,0,H,17,...,2.70,1.79,3.74,5.10,3,2,27,15,3,12
4,2015,19,28,1,0,2,1,0,H,13,...,6.00,1.64,4.07,6.04,1,1,10,13,4,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3425,2024,23,2,1,1,1,1,0,H,25,...,2.80,2.24,3.50,3.37,1,0,22,17,31,0
3426,2024,32,1,1,2,0,1,1,D,42,...,2.75,2.54,3.51,2.86,0,-1,17,18,16,10
3427,2024,3,8,2,1,2,1,0,H,37,...,2.88,2.92,3.24,2.66,1,1,14,20,30,17
3428,2024,7,17,0,2,0,0,1,A,3,...,1.83,3.86,3.91,1.97,-1,-2,13,16,1,18
3429,2024,15,28,1,1,1,0,1,A,4,...,1.65,4.64,4.33,1.71,-1,0,10,22,3,14

In [27]:
# Number of samples in the training set
num_train_samples = X_train.shape[0]
print(f'Number of samples in the training set: {num_train_samples}')

# Number of samples in the test set
num_test_samples = X_test.shape[0]
print(f'Number of samples in the test set: {num_test_samples}')

Number of samples in the training set: 3171
Number of samples in the test set: 202

# End